* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 12px;
}

main{
    background-color: #ebebeb;
    width: 100%;
}

section {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

article {
    margin: 10px 0px;
    border: 1px solid #ebebeb;
}

h4 {
    font-size: 24px;
    color: #666;
}

.logo{
    width: 200px;
}

.burger-menu {
    display: block;
    background-color: #1259c3;
    color: #ebebeb;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    margin: auto;
    margin-top: 15px;
}

.copy-header {
    text-align: center;
    font-weight: 400;
}



.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.main-navbar ul{
    list-style: none;
    margin:0;
    padding: 0;
}


.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
}

.product-name{
    color:  #666;
}

.right-navbar, .left-navbar, .product-name {
    display: none;
}

.description {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.price-discount{
    width: 100%;
}

.price {
    font-size: 1.1em;
}

.discount {
    font-size: 1em;
    color: #39b54a;
    font-weight: normal;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;   
    color: #39b54a;
}



footer {
    text-align: center;
    padding: 15px;
}

footer div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

/*tablet*/
@media (min-width: 361px){

    article {
        display: flex;
        flex-flow: wrap;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 50%;
    }

    .right-navbar, .left-navbar {
        display: contents;
    }

    .burger-menu {
        display: none;
    }

    .product-name{
        display: contents;
    }

    .price-discount{
        display: flex;
     }
     
     .price {
         display: flex;
         width: 30%;
     }
     
     .discount {
         display: flex;
         width: 70%;
     }

}

/*Desktop*/
@media (min-width: 769px){
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}