* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 12px;

}

main{
    background-color: #ebebeb;
    width: 100%;
}

section {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

article {
    margin-right: auto;
    border: 1px solid #ebebeb;
}

h4 {
    font-size: 24px;
    color: #666;
}

.contenedor1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    width: 50%;
}

.contenedor-barra-de-busqueda {
    display: flex;
    width: 50%;
}

.barra-de-busqueda{
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: #666;
}

.contenedor-boton-de-busqueda{
    display: flex;
}

.boton-de-busqueda{
    height: 30px;
    border: none;
    padding: 2px;
    border-radius: 5px;
    color: #666;
}

.burger-menu {
    display: block;
    background-color: #1259c3;
    color: #ebebeb;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
    margin: auto;
    margin-top: 15px;
}

header p {
    text-align: center;
    max-width: 360px;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.product-name{
    color:  #666;
}

.right-navbar, .left-navbar, .product-name {
    display: none;
}

.description {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.price-discount{
    width: 100%;
}

.price {
    font-size: 1.1em;
}

.discount {
    font-size: 1em;
    color: #39b54a;
    font-weight: normal;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;   
    color: #39b54a;
}



footer {
    text-align: center;
    padding: 15px;
}

footer div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

/*tablet*/
@media (min-width: 361px){

    main section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;    
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 150px; 
    }

    .contenedor-header{
        display: flex;
        justify-content: space-around;
    }

    .contenedor-barra-de-busqueda{
        justify-content: center ;
    }
    
    .copy-header {
        text-align: center;
        font-weight: 400;
        margin: 20px 0px;
    }

    .main-navbar {
        display: flex;
        justify-content:space-evenly;
    }
        
    .main-navbar ul{
        display: flex;
        list-style: none;
        margin:0;
        padding: 0;
    }

    .main-navbar li {
        margin: 0 5px;
    }
    
    .main-navbar a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 12px;
    }

    .left-navbar{
        justify-content: flex-end;
    }

    .burger-menu {
        display: none;
    }

    .product-name{
        display: contents;
    }

    .price-discount{
        display: flex;
        width: 100%;
     }
     
     .price {
         display: flex;
         width: 30%;
     }
     
     .discount {
         display: flex;
         justify-content: flex-end;
         width: 70%;
     }

}

/*Desktop*/
@media (min-width: 769px){
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    section {
        flex-wrap: nowrap;
    }

    h4{
        text-align:start;
    }

    .logo{
        width: 50%;
    }
    
    .barra-de-busqueda{
        width: 50%;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
        color: #666;
    }
    
    .boton-de-busqueda{
        border: none;
        padding: 2px;
        border-radius: 5px;
        color: #666;
    }

    .copy-header{
        display: flex;
    }
}