* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    overflow-x: hidden;    
    background-color: #ebebeb;
}

main{

    width: 100%;
}

section {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

article {
    margin: 10px 0px;
    border: 1px solid #ebebeb;
    transition: box-shadow 450ms;
}

article:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

h4 {
    font-size: 24px;
    color: #666;
}

/*Header*/

.main-header{
    background-color: #EAC926;
    padding: 20px;
    top: 0;
    width: 100%;
}

.contenedor-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    width: 200px;
}

.contenedor-barra-de-busqueda form{
    display: inline-block;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.barra-de-busqueda{
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: #666;
}

.boton-de-busqueda{
    height: 30px;
    border: none;
    padding: 2px;
    border-radius: 5px;
    color: #666;
}

.burger-menu {
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

header p {
    text-align: center;
    max-width: 360px;
}


.product-name{
    opacity: 0;
    color:  #666;
    margin-top: 5px;
    transition: opacity 450ms;
}

.product-name:hover{
    opacity: 1;
}

.right-navbar, .left-navbar, .product-name {
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.description {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.price-discount{
    width: 100%;
}

.price {
    font-size: 1.1em;
}

.discount {
    font-size: 1em;
    color: #39b54a;
    font-weight: normal;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;   
    color: #39b54a;
}

.fa-truck{
    color: #39b54a;
    transition: all 3s;
}
.fa-truck:hover{
    animation-name: ninety-truck;
    animation-duration: 3s;
}
@keyframes ninety-truck {
    100%{
        transform: rotateZ(-90deg);
    }
}

/*Registro y login*/

.formulario-registro{
    padding: 50px 15px;
    width: 80%;
    margin-top:50px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

.formulario-login{
    padding:150px 15px
}

.crear-user{
    margin-bottom: 25px;
}

.crear-user-border{
    border: 1px solid rgb(100 100 100 / 50%);
    margin: 35px;
    padding: 10px;
}

.crear-user label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    border-radius: 15px;
    border: 1px solid rgb(100 100 100 / 50%);
    padding: 8px;
}

.fa-users{
    color: white;
    background-color: #1259c3;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 0px 5px rgb(100 100 100);
    transition: all 400ms;
}

.button-form{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    max-width: 360px;
}

.boton-icon{
    border: 0;
}

.send-button{
    padding: 5px 50px;
    background-color: #1259c3;
    color: #ffffff;
    border-radius: 15px;
    border: 0px;
    transition: all 400ms;
}

.send-button:hover,.fa-users:hover{
    background-color: #0022AA;
    cursor: pointer;
}

.crear-user-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.p-form-user{
    font-weight: bold;
    font-style: italic;
}


.crear-user #usuario{
    width: 135px;
}
/*Footer*/
footer {
    text-align: center;
    padding: 15px;
}

footer div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer p{
    color:#666;
}

.logo-footer{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 400ms;
}

.logo-footer:hover{
    color: #39b54a;
    cursor: pointer
}

.cp-foot{
    text-align: left;
}

/*tablet*/
@media (min-width: 361px){

    main section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;    
    }

    article {
        width: 150px; 
    }

    .contenedor-header{
        display: flex;
        justify-content: space-around;
    }

    .contenedor-barra-de-busqueda{
        justify-content: center ;
    }
    
    .copy-header {
        text-align: center;
        font-weight: 400;
        margin: 20px 0px;
    }

    .main-navbar {
        display: flex;
        justify-content:space-evenly;
    }
        
    .main-navbar ul{
        display: flex;
        list-style: none;
        margin:0;
        padding: 0;
    }

    .main-navbar li {
        margin: 0 5px;
    }
    
    .main-navbar a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 12px;
    }

    .left-navbar{
        justify-content: flex-end;
    }

    .burger-menu {
        display: none;
    }

    .product-name{
        display: contents;
    }

    .price-discount{
        display: flex;
        width: 100%;
     }
     
     .price {
         display: flex;
         width: 30%;
     }
     
     .discount {
         display: flex;
         justify-content: flex-end;
         width: 70%;
     }

    /*Registro/Login*/
    .formulario-registro{
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Footer*/
    footer div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
    }

    h5{
        margin: 10px;
    }

    footer section i{
        margin-left: 150px;
    }

    footer section{
        padding: 10px;
        margin: 15px;
    }
}

/*Desktop*/
@media (min-width: 769px){

    section {
        flex-wrap: nowrap;
    }

    h4{
        text-align:start;
    }

    .logo{
        width: 50%;
    }
    
    .barra-de-busqueda{
        width: 50%;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
        color: #666;
    }
    
    .boton-de-busqueda{
        border: none;
        padding: 2px;
        border-radius: 5px;
        color: #666;
    }

    .copy-header{
        display: flex;
    }

    .button-form{
        margin-left: 190px;
    }
}