<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First document in html</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
    <!--
    <h1>Extra Extra</h1>

    <img src="./img/BTS.png" alt="juji" />

    <p class="parrafo-destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla dolor <strong>ea ipsa quis, nam dolorem</strong> dolorum fugit. Soluta distinctio molestias dicta veritatis tenetur doloribus inventore voluptatem aspernatur iste! Cumque!</p>

    <ol>
        <li>tu mama en tanga
        </li>
        <li>tu papa en tanga
        </li>
        <li>tu hermana en tanga
        </li>
    </ol>
    
    <strong>Abdcdesdeaasd</strong>

    -->

    <div class="contenedor01">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus magnam voluptatum quibusdam, nesciunt libero a voluptates distinctio ullam molestias ipsam blanditiis dolorum magni harum provident est rem deleniti suscipit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui accusamus aliquam fugiat perferendis laboriosam similique, quisquam voluptatem, vitae deserunt totam corrupti illo pariatur porro amet earum odio sint? Tempore, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, pariatur! Saepe officiis assumenda, illo nam ipsa molestiae ad aliquam aperiam, pariatur nisi corporis animi quod culpa, placeat at architecto totam.</h2>
        <div class="contenedor02">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident laborum commodi error quidem illo autem officia itaque magni nam, ipsa iste molestias sed placeat maiores obcaecati, dolore hic quae aperiam!
        </div>
    </div>
    <div class="contenedor02">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus magnam voluptatum quibusdam, nesciunt libero a voluptates distinctio ullam molestias ipsam blanditiis dolorum magni harum provident est rem deleniti suscipit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui accusamus aliquam fugiat perferendis laboriosam similique, quisquam voluptatem, vitae deserunt totam corrupti illo pariatur porro amet earum odio sint? Tempore, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, pariatur! Saepe officiis assumenda, illo nam ipsa molestiae ad aliquam aperiam, pariatur nisi corporis animi quod culpa, placeat at architecto totam.</h2>
        <div class="contenedor01">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident laborum commodi error quidem illo autem officia itaque magni nam, ipsa iste molestias sed placeat maiores obcaecati, dolore hic quae aperiam!
        </div>
    </div>

</body>
</html>