<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First document in html</title>
</head>
<body>
    <h1>Extra Extra</h1>

    <img src="/Pruebas-de-html/public/img/BTS.png" alt="juji" />

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nulla dolor ea ipsa quis, nam dolorem dolorum fugit. Soluta distinctio molestias dicta veritatis tenetur doloribus inventore voluptatem aspernatur iste! Cumque!</p>

    <ol>
        <li>tu mama en tanga
        </li>
        <li>tu papa en tanga
        </li>
        <li>tu hermana en tanga
        </li>
    </ol>

</body>
</html>