.caja1,
.caja2,
.caja3 {
    width: 300px;
    height: 300px;
}

.container{
    position: relative;
    width: 900px;
    height: 600px;
    background-color: yellow;
}

.caja1 {
    position: absolute;
    background-color: red;
    right: 30px;
    top: 100px;
    font-size: 3rem;
    z-index: 2;
    transition-property: background;
    transition-duration: 0.5s;
}

.caja1:hover{
    background: aqua;
}

.caja2{
    background-color: blue;
    font-size: 3rem;
}

.caja3{
    background-color: green;
    font-size: 3rem;
    animation: translate 3s infinite;
}

@keyframes translate {
    0% {
        marginf-left: 0;
        opacity: 0;
    }

    100%{
        margin-left: 400px;
        opacity: 1;
    }
}

.caja4{
    background-color: grey;
    width: 200px;
    height: 200px;
    font-size: 3rem;
    position: absolute;
    right: 20px;
    top: 90px;
    z-index: 1;
}

.fixed{
    position:fixed;
    width: 100px;
    height: 100px;
    background-color: black;
    right: 30px;
    bottom: 30px;
}