<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="container">
            <div class="imagen">
                <img src="./img/logo-mercado-liebre.svg"/>
            </div>
        </div>
        <div>
            <p>lugar para poner la barra de búsqueda  <br>
            <p> Comprá en cuotas y sin tarjeta de crédito </p>
        </div>
        <div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
        </div>
    </header>
    
    <main>
        <section>
            <article>
                <h4><strong>Basados en tu última visita</strong></h4>
                <div class="container">
                    <div class="imagen">
                        <img src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"/>
                    </div>
                </div>
                    <p>
                        $6.770 <br>
                        40% off
                    </p>
                </div>
                <div>
                    <img src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>
                        $230.000 <br>
                        20% off
                    </p>
                <div>
                    <img src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <p>
                        $70.500<br>
                        10% off
                    </p>
                </div>
                <div> 
                    <img src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <p>
                        $23.200<br>
                        5% off
                    </p>
                </div>
                <h4><strong>Sección de Ofertas perros</strong></h4>
                <div>
                    <img src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p>
                        $6.770<br>
                        40% off
                    </p>
                </div>
                <div>
                    <img src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>
                        $230.000<br>
                        20% off
                    </p>
                </div>
                <div class="container">
                    <div class="imagen">
                        <img src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                    <p>
                        $70.500<br>
                        10% off
                    </p>
                </div>
                <div>
                    <img src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <p>
                        $23.200<br>
                        5% off
                    </p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <h5><strong>Pagá con tarjeta o en efectivo</strong></h5>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <h5><strong>Envío gratis desde $ 2.500</strong></h5>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <h5><strong>Seguridad, de principio a fin</strong></h5>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            <h6><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h6>
        </div>
    </footer>
</body>
</html>