<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    
    <header class="main-header">
        <div>
            <img src="./img/logo-mercado-liebre.svg" class="logo"/> <br>
            <input class="barra-de-busqueda" type="text" value="Buscar productos, marcas"> <br>
            <button class="boton-de-busqueda"><i class="fas fa-search"></i></button>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito  </p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>

            <div class="burger-menu">
                <i class="fas fa-align-justify"></i>
            </div>
        </nav>
    </header>
    
    <main>
        <!--Imágen del banner-->
        <div class="home-banner"><img width="100%" src="./img/img-home-banner.jpg" alt="Banner"></div>

        <!--Section de todos los productos-->
        <h4><strong>Basados en tu última visita</strong></h4>
        <section class="products-part-one"> <!--Parent-->
            <article class="products"><!--Fisrt child-->
                <div class="product-image"><img width="100%" src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"/></div>
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"> <p class="price">$6.770</p> <p class="discount">40% off</p></div> 
                    <div class="product-name">Cafetera Moulinex</div>
                </div>

            </article>
                <!---->    
               
            <article class="products">
                <img class="product-image" width="100%" src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$230.000</p> <p class="discount">20% off</p></div>
                    <p class="product-name">MacBook Pro 2019</p>
                </div>
            </article>
                <!---->
                   
            <article class="products">
                <img class="product-image" width="100%" src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$70.500</p> <p class="discount">10% off</p></div>
                    <p class="product-name">Samsung Galaxy S10</p>
                </div>
            </article>
                <!---->

            <article class="products">
                 <img class="product-image" width="100%" src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                 <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$23.200</p> <p class="discount">5% off</p></div>
                    <p class="product-name">SmartTv Samsung 43</p>
                </div>
            </article>
        </section>    
                <!---->
                
        <h4><strong>Ofertas</strong></h4> 

        <section>
                    
            <article class="products">                
                <img class="product-image" width="100%" src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$6.770</p> <p class="discount">40% off</p></div>
                    <p class="product-name">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="products">
                 <img class="product-image" width="100%" src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                 <div class="description">
                     <i class="fas fa-truck"></i>
                     <div class="price-discount"><p class="price">$230.000</p> <p class="discount">20% off</p></div>
                     <p class="product-name">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="products">
                <img class="product-image" width="100%" src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$70.500</p> <p class="discount">10% off</p></div>
                    <p class="product-name">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="products">
                <img class="product-image" width="100%" src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="price-discount"><p class="price">$23.200</p> <p class="discount">5% off</p></div>
                    <p class="product-name">SmartTv Samsung 43</p>
                </div>
            </article>

        </section>
        
    </main>
    <footer>
        <div>
            <div><i class="fas fa-credit-card"></i></div>
            <h5><strong>Pagá con tarjeta o en efectivo</strong></h5>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <div><i class="fas fa-gift"></i></div>
            <h5><strong>Envío gratis desde $ 2.500</strong></h5>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <div><i class="fas fa-user-shield"></i></div>
            <h5><strong>Seguridad, de principio a fin</strong></h5>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </div>
    </footer>
</body>
</html>