<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>    
            <form action="" class="formulario-registro">

                <div class="crear-user">
                    <label for="">Nombre y apellido:</label>
                    <input type="text" name="nombre-apellido" id="nombre-apellido" minlength="2">
                    <input type="text" name="nombre-apellido" id="nombre-apellido" minlength="2">
                </div>

                <div class="crear-user">
                    <label for="">Foto de perfil:</label>
                    <input type="file" name="usuario" id="usuario">

                    <label for="">Nombre de usuario:</label>
                    <input type="text" name="usuario" id="usuario" minlength="2">
                </div class="crear-user">
                
                <div class="crear-user">
                    <label for="">Fecha de nacimiento:</label>
                    <input type="date" name="nacimiento" id="nacimiento">
                </div>
                
                <div class="crear-user">
                    <label for="">Dirección:</label>
                    <input type="text" name="domicilio" id="domicilio" minlength="2">
                </div>
                
                <div class="crear-user">
                    <label for="">Perfil de usuario:</label>
                    <input type="radio" name="comprador-vendedor" id="comprador-vendedor">Comprador
                    <input type="radio" name="comprador-vendedor" id="comprador-vendedor">Vendedor
                </div>
                
                <div class="crear-user">
                    <label for="">Categorías de interes:</label>
                    <input type="radio" name="cate-interes" id="cate-interes">Electro
                    <input type="radio" name="cate-interes" id="cate-interes">Moda
                    <input type="radio" name="cate-interes" id="cate-interes">Hogar
                    <input type="radio" name="cate-interes" id="cate-interes">Juguetería
                    <input type="radio" name="cate-interes" id="cate-interes">Vida sana
                </div>

                <div>
                    <label for="">Contraseña:</label>
                    <input type="password" name="contrasenia" id="contrasenia" minlength="8">

                    <label for="">Confirmar contraseña:</label>
                    <input type="password" name="contrasenia" id="contrasenia" minlength="8">
                </div>

                <div>
                    <button type="submit">Enviar</button>
                    <button type="reset">Eliminar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>