<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Registro</title>
</head>
<body>
    <header class="main-header">
        <div class="contenedor-header">
            <a href="/"><img width="340" src="./img/logo-mercado-liebre.svg" class="logo"/>
            </a>

            <div class="contenedor-barra-de-busqueda">
                <form action="/" method="get">
                    <input type="search" placeholder="Buscar productos, marcas">
                    <button type="submit" class="boton-de-busqueda"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>


    </header>
    <main>
            <form action="/" method="get" class="formulario-registro">

                <div class="crear-user">
                    <input type="text" class="control" placeholder="Nombre y apellido:" name="nombre-apellido" id="nombre-apellido" minlength="2" required>
                </div>

                <div class="crear-user">
                    <input type="text" class="control" placeholder="Nombre de usuario" name="usuario" minlength="2" required>
                </div>

                <div class="crear-user">
                    <label for="Foto" class="p-form-user">Foto de perfil:</label>
                    <input type="file" name="usuario" id="usuario" required>
                </div>

                <div class="crear-user">
                    <label for="date" class="p-form-user">Fecha de nacimiento:</label>
                    <input type="date" name="nacimiento" id="nacimiento" required>
                </div>

                <div class="crear-user">
                    <input type="text" class="control" name="domicilio" id="domicilio" minlength="2" placeholder="Domicilio" required>
                </div>
                
                <div class="crear-user crear-user-border">
                    <p class="p-form-user">Perfil de usuario:</p>
                    <div class="crear-user-list">
                        <div>
                            <input type="radio" value="comprador" name="comprador" id="comprador">Comprador
                        </div>

                        <div>
                            <input type="radio" value="vendedor" name="vendedor" id="vendedor">Vendedor
                        </div>
                        
                    </div>


                </div>
                
                <div class="crear-user crear-user-border">
                    <p class="p-form-user">Categorías de interes:</p>
                    <div class="contenedor-checkbox">
                        <div class="crear-user-list">
                            <input value="electro" type="checkbox" name="electro" id="electro">Electro
                        </div>
                        
                        <div>
                            <input type="checkbox" value="moda" name="moda" id="moda">Moda
                        </div>
    
                        <div>
                            <input type="checkbox" value="hogar" name="hogar" id="hogar">Hogar
                        </div>
    
                        <div>
                            <input type="checkbox" value="juegueteria" name="juegueteria" id="juegueteria">Juguetería
                        </div>
    
                        <div>
                            <input type="checkbox" value="vida-sana" name="vida-sana" id="vida-sana">Vida sana
                        </div>
                    </div>

                </div>

                <div class="crear-user">
                    <label class="p-form-user" for="contrasenia">Contraseña:</label>
                    <input class="control" type="password" placeholder="contraseña" name="contrasenia" id="contrasenia" minlength="8" required>

                </div >

                <div class="crear-user">
                    <label class="p-form-user" for="contrasenia">Confirmar contraseña:</label>
                    <input type="password" class="control"  name="contrasenia" id="contrasenia" minlength="8" required>
                </div>

                <div class="button-form">
                    <div>
                        <button type="submit" class="send-button">Enviar
                        </button>
                    </div>
                </div>

                <div class="button-form">
                    <button type="reset" class="send-button">Eliminar</button>
                </div>

                </div>
            </form>
    </main>

    <footer>
        <div>
            <section>
                <div><i class="fas fa-credit-card logo-footer"></i></div>
                <h5><strong>Pagá con tarjeta o en efectivo</strong></h5>
                <p>
                 Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>

            <section>
                <div><i class="fas fa-gift logo-footer"></i></div>
                <h5><strong>Envío gratis desde $ 2.500</strong></h5>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>

            <section>
                <div><i class="fas fa-user-shield logo-footer"></i></div>
                <h5><strong>Seguridad, de principio a fin</strong></h5>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </div>
        <h6 class="cp-foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>